<%- include("header"); -%>
<div class="bannercontact">
</div>
<main>
    <h1>Contact</h1>
    <div class="contactinfo">
      <div class="cirkelbuiten">
        <div class="cirkelbinnen">
          <img src="/img/foto14.png" alt="" class="contactfoto">
        </div>
      </div>
        <h5>Bram Moeyersoms</h5>
        <p class="email">bram.moeyersoms@student.ap.be</p> <br>
        <div class="cirkel">
          <img src="/img/facebook.jpg" alt="" class="contacticonen">
        </div><a href="https://www.facebook.com/">Facebook</a> <br>
        <div class="cirkel">
          <img src="/img/instagram.png" alt="" class="contacticonen">
        </div><a href="https://www.instagram.com/">Instagram</a> <br>
        <div class="cirkel">
          <img src="/img/dribbble.svg" alt="" class="contacticonen">
        </div><a href="https://dribbble.com/">Dribbble</a>
    </div>
</main>

<%- include("footer"); -%>
