  <footer>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallerij</a></li>
        <li><a href="/search">Zoeken</a></li>
        <li><a href="/contact">Contact</a></li>
      </ol>
      <p>link naar online versie: <a href="https://salty-garden-41359.herokuapp.com/">https://salty-garden-41359.herokuapp.com/</a></p> <br>
      <p>© 2020 Bram Moeyersoms</p>
  </footer>

  <script src="/js/buttons.js">

  </script>
  </body>
</html>
