<nav>
  <ul>
    <li><a href="/" class="button"><i class="material-icons">home</i></a></li>
    <li><a href="/gallery" class="button"><i class="material-icons">photo_library</i></a></li>
    <li><a href="/search" class="button"><i class="material-icons">search</i></a></li>
    <li><a href="/contact" class="button"><i class="material-icons">call</i></a></li>
  </ul>
</nav>
